The system shall be a web-based application.

The frontend part of the application, including the user interface, is provided in
form of Node.js and Handlebars files.

The development team shall develop the backend system as REST APIs.

The database system can be either MongoDB Atlas or MySQL.

The hospital list is provided as an excel file.